#notification {
    padding: 1em 3em;
    font-size: 25px;
}

#notification.error {
    background-color: indianred;
    border: 1px solid darkred;
    color: darkred;
}

#notification.success {
    background-color: lightgreen;
    border: 1px solid darkgreen;
    color: darkgreen;
}

.blog {
    border: 1px solid black;
    padding: 1em;
    font-size: 15px;
    font-family: sans-serif;
}

.blogViewToggle {
    margin-inline: 1em;
}